{% load static %}
<!DOCTYPE html>

<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="{% static 'css/blog.css' %}" rel="stylesheet">
</head>

<body>
    <div class="container">
        {% block content %}r
        {% endblock %}
    </div>
    <!-- <div id="sidebar">
        <h2>My Blog</h2>
        <p>This is my blog.</p>
    </div> -->
</body>

</html>